.home {
  .wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-direction: row;
  }
}

@media screen and (max-width:800px) {
  .home {
    .wrapper {
      flex-direction: column;
    }
  }
}
